@mixin span-style{
    width: 1.2rem;
    height: auto;
    display: inline-block;
    border:1px solid white;
}

div{
    width:100%;
    height:auto;
    max-width:900px;
    max-height:900px;
    margin: 0 auto;
}    
#bar{
    width:100%;
    max-width:900px;
    height:400px;
}
#circle{
    @extend #bar;
}
canvas{
    background-color:white;
}

//karta
#map{
    max-width:900px;
    width:100%;
    height:500px;
    margin:0 auto;
    position:relative;
}
.centered{
    text-align:center;
}
.leaflet-control-geocoder {
    max-width: 250px;
    width: 100%;
}
//dessa .leaflet - går att hitta om man tittar i devtools - blir auto med leaflet + geocoder
/* Gör inputen lite mindre */
.leaflet-control-geocoder-form input {
    font-size: 14px;
    padding: 4px 6px;
}

.leaflet-popup-content-wrapper{
    max-width:420px;
    padding:0.2rem 0.5rem;
}

@media (max-width:600px){
    .leaflet-control-geocoder{
        max-width:180px;
    }
}